<?xml version="1.0" encoding="UTF-8"?>
<element>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
         https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <display-name>Online Job Portal</display-name>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.jobportal.servlet.LoginServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>DashboardPage</servlet-name>
        <jsp-file>/user/dashboard.jsp</jsp-file> 
    </servlet>

    <servlet>
        <servlet-name>MyApplicationsPage</servlet-name>
        <jsp-file>/user/my-applications.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>DashboardPage</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>MyApplicationsPage</servlet-name>
        <url-pattern>/my-applications</url-pattern>
    </servlet-mapping>

</web-app>

</element>